/dumps/
/downloads/

/steamcmd/logs/
/steamcmd/appcache/
/steamcmd/config/
/steamcmd/depotcache/
/steamcmd/package/
/steamcmd/steamapps/
/steamcmd/userdata/
/steamcmd/update_hosts_cached.vdf
/steamcmd/libraryfolder.vdf
/steamcmd/.ntfs_transaction_failed
/steamcmd/.crash
/steamcmd/*.old
/steamcmd/*.delete
/steamcmd/*.zip

node_modules/
node_cache/
dist/
build/
coverage/

*.log
*.out
*.err
*.pid
*.pid.lock
*.seed
*.tmp
*.temp
*.cache
*.stackdump
*.dmp
*.crash

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.env
.env.*
!.env.example

.DS_Store
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

.vscode/
.idea/
*.suo
*.user
*.userossc
*.sln.docstates

.trae/
